<footer class="main-footer">
    <div class="container">
        <div class="footer-logo">
            <img src="assets/images/logo.png" alt="Ho Refem Logo">
        </div>
        <div class="footer-contact">
            <p>Carrer del Ter 14</p>
            <p><a href="tel:600252376">600 25 23 76</a> - <a href="mailto:info@horefem.com">info@horefem.com</a></p>
        </div>
        <div class="footer-links">
            <a href="avis-legal.html">Avís legal</a>
            <a href="politica-privacidesa.html">Política de Privadesa</a>
            <a href="politica-cookies.html">Política de Cookies</a>
            <a href="declaracio-accessibilitat.html">Declaració d'Accessibilitat</a>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 DAVID DAUNER FILELLA Tots els drets reservats</p>
            <p>Produït per <a href="https://www.beedigital.es/" rel="nofollow">BeeDIGITAL</a></p>
        </div>
    </div>
</footer> 