<header class="main-header">
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="Ho Refem Logo">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="index.html">Inici</a></li>
                <li><a href="serveis.html">Serveis</a></li>
                <li><a href="pressupost.html">Pressupost</a></li>
                <li><a href="coneix-nos.html">Coneix-nos</a></li>
                <li><a href="contacte.html">Contacte</a></li>
            </ul>
        </nav>
        <div class="language-selector">
            <a href="index.html">CA</a>
            <a href="es/index.html">ES</a>
            <a href="en/index.html">EN</a>
        </div>
    </div>
</header> 